/*Author: Rondal Archer*/
/* 3/9/2016 */

#title {
	text-align:center;
	font:"Arial", Gadget, sans-serif;
	color:#FFF;
	font-weight:800;
	font-size:46px;
	background-color:#000;
	}
.header{
height:80px;
width:100%;
background-color: black;
}
#headertext{
color:white;
font-size:42pt;
text-align:center;
}

body {
	font:11px Verdana,Arial;
	width:1135px;
	margin: auto;
	background: url(../images/stretchbg.blampng) no-repeat fixed;
	background-size:cover;
	background-color: #dfdfdf /*#e6e6e6 /*#EAE9E4 /*#D4D3D3/*#DEDEDE*/;
	text-align: center;
	border: 1px solid gray;
	box-shadow: 2px 5px 5px 0px lightgray;
	}
	
	
#footer {
	text-align: center;
	clear:both;
	padding: 10px;
	margin: 0px;
	box-sizing: border-box;
	width: 100%;
	height:100%;
	bottom: 0;
	color: red;
	border-style: solid;
    border-width:2px 0px 0px 0px;
	border-color: gray;
	background-color: #e6e6e6;
	}
	

#footer a{
color: blue;
text-decoration:none;
}	
	
#footer a:hover{
color: red;
text-decoration:none;
}

#contentowner{
margin-top: -180px;
}

/*Homepage Menu Size*/
ul.menu {
	list-style:none; 
	margin:0; 
	padding:0;
	text-align:center center;
	min-width:1135px;
	width: 100%;
	background-color: #cfcfcf;
	}
	
ul.menu * {
	margin:0; 
	padding:0;
	}

ul.menu a {
	display:block; 
	color:#000; 
	text-decoration:none;
	width:auto;
	}

/* Specifically target main menu buttons */
ul.menu > li {
	display: table-cell; /* This instead of float:left makes all menu items equal height */
	width: 30%;
	/* Taken from .menulink */
	background-size: contain;
	border:1px solid #999;
	}

ul.menu > li:hover {
	/*background:url(images/header_over2.png);*/  
	background-color:transparent; /*????*/
	}

ul.menu li {
	position:relative; 
	/*float:left;*/
	margin-right:2px;
	width:285px;
	
	}
	
ul.menu ul {
	position:absolute; 
 	left:0; 
	background:#d1d1d1; 
	display:none; 
	opacity:0; 
	list-style:none;
	}
	
ul.menu ul li {
	position:relative;
	border:0px solid #aaa; 
	border-top:none; 
    min-width:283px;
	width:auto;
	margin:0;
	margin-left:-1px;
	}
	
ul.menu ul li a {
	display:block; 
	padding:3px 7px 3px; 
	background-color:gray;
	color: white;
	margin-left:1px;
	}
	
ul.menu ul li a:hover {
	background-color:lightgray ;
	color: black;
	}
	
ul.menu ul ul {
	left:121px; 
	top:-1px
	}
	
ul.menu .menulink {
	padding:5px 7px 7px;
	font-weight:bold; 
	/*border:1px solid #aaa; */

	}
	
ul.menu .menulink:hover, ul.menu .menuhover {
	/*background: #FFD996/*#FF8A8A /*#FFDA47*/
	background-color:gray;
	background-size: contain;
	vertical-align:text-bottom;
	width:auto;
	}
	
ul.menu .sub {
	background:#d1d1d1 url(images/arrow.gif) 115px 8px no-repeat;
	}
	
ul.menu .topline {
	border-top:1px solid #aaa
	}
/*------- COPQ -----*/

ul.menu {
	list-style:none; 
	margin:0; 
	padding:0;
	text-align:center center;
	/*min-width:1320px;*/
	}
	
ul.menu * {
	margin:0; 
	padding:0;
	}

ul.menu  a {
	display:block; 
	color:#000; 
	text-decoration:none;
	}

ul.menu  li #Here{
	position:relative; 
	/*float:left;*/
	margin-right:0px;
	background: gray;
	color:white;
	background-size: contain;
	}	
	
#paragraph{
float:left;
width: 480px;
background-color:transparent;
color:black;
height:478px;
text-align:left;
margin-left:35px;
margin-top:6px;
}

#roadmap{
width:1135px;
background:lightgray;
height:412px;
margin-left:0px;
}

/*base triangle*/
.arrow-up {
  width: 0; height: 0;
  border:270px solid transparent;
   border-left:170px solid transparent;
  border-right: 170px solid transparent; 
  border-top-color: transparent;
  border-right-color: transparant;
  border-bottom-color: gray;
  border-left-color: transparent;
margin-left:380px; 
margin-top:-270px;
}
/*white roadline*/
.arrow-up2 {
  width: 0; height: 0;
  border:270px solid transparent;
  border-left:160px solid transparent;
  border-right: 160px solid transparent; 
  border-top-color: transparent;
  border-right-color: transparant;
  border-bottom-color: white;
  border-left-color: transparent;
margin-left:390px; 
margin-top:-537px;
}
/*more gray road*/
.arrow-up3 {
  width: 0; height: 0;
  border:260px solid transparent;
   border-left:150px solid transparent;
  border-right: 150px solid transparent; 
  border-top-color: transparent;
  border-right-color: transparant;
  border-bottom-color: gray;
  border-left-color: transparent;
margin-left:400px; 
margin-top:-530px;
}
/* the sky or upper part */
.square{
background-color: white;
width:1135px;
height:150px;
border-radius: 0%;
margin-top:1px;
}

/*rounded signs*/
.roadsign{
height:70px;
width:120px;
border-radius:10%;
background-color:gray /*#5B6C95*/;
border-style:solid;
border-width:1px;
border-color: white /*FFDFC5*/;
color:white;
}

.roadsign p{
padding:10px;
}
.roadsign:hover{
background-color:#FFD0A8;
color:black;
border-color:black;
}

#rsone{
margin-left:50px;
margin-top:-140px;
}

#rstwo{
margin-left:160px;
margin-top:-150px;
}

#rsthree{
margin-left:270px;
margin-top:-150px;
}
#rsfour{
margin-left:570px;
margin-top:-72px;
}
#rsfive{
margin-left:710px;
margin-top:-30px;
}
#rssix{
margin-left:830px;
margin-top:10px;
}

#rsseven{
margin-left:410px;
margin-top:-120px;
}

#rseight{
margin-left:950px;
margin-top:10px;
}

/*pole size,color,width*/
.pole{
height:50px;
width:10px;
border-radius:10%;
background-color: black /*#552700 brwon*/;
}

#P1{
margin-left: 108px;
margin-top:-3px;
}

#P2{
margin-left: 215px;
margin-top:-128px;
}

#P3{
margin-left: 324px;
margin-top:-128px;
}

#P4{
margin-left: 764px;
margin-top:-57px;
}

#P5{
margin-left: 885px;
margin-top:32px;
}

#P6{
margin-left: 1007px;
margin-top:32px;
}

#P7{
margin-left: 468px;
margin-top:-256px;
}

#P8{
margin-left: 625px;
margin-top:-50px;
}

#year{
color:#ffffff ;
text-transform:uppercase ;
text-decoration:none ;
font-family:"HelveticaNeue-Medium", sans-serif ;
font-size:14px ;
display: inline-block;
transform : scale(2,2.5);
-webkit-transform:scale(2,2.5); /* Safari and Chrome */
-moz-transform:scale(2,2.5); /* Firefox */
-ms-transform:scale(2,2.5); /* IE 9+ */
-o-transform:scale(2,2.5); /* Opera */
margin-left:-38px;
margin-top:150px;
}
