/*Author: Rondal Archer*/

#title {
	text-align:center;
	font:"Arial", Gadget, sans-serif;
	color:#FFF;
	font-weight:800;
	font-size:46px;
	background-color:#000;
	}
.header{
height:80px;
width:100%;
background-color: black;
}
#headertext{
color:white;
font-size:42pt;
text-align:center;
}

body {
	font:11px Verdana,Arial;
	width:1135px;
	margin: auto;
	background: url(../images/stretchbg.blampng) no-repeat fixed;
	background-size:cover;
	background-color: #dfdfdf /*#e6e6e6 /*#EAE9E4 /*#D4D3D3/*#DEDEDE*/;
	text-align: center;
	border: 1px solid gray;
	box-shadow: 2px 5px 5px 0px lightgray;
	}
	
	
#footer {
	text-align: center;
	clear:both;
	padding: 10px;
	margin: 0px;
	box-sizing: border-box;
	width: 100%;
	height:100%;
	bottom: 0;
	color: red;
	border-style: solid;
    border-width:2px 0px 0px 0px;
	border-color: gray;
	background-color: #e6e6e6;
	}
	

#footer a{
color: blue;
text-decoration:none;
}	
	
#footer a:hover{
color: red;
text-decoration:none;
}

#contentowner{
margin-top: -180px;
}

/*Homepage Menu Size*/
ul.menu {
	list-style:none; 
	margin:0; 
	padding:0;
	text-align:center center;
	min-width:1135px;
	width: 100%;
	background-color: #cfcfcf;
	}
	
ul.menu * {
	margin:0; 
	padding:0;
	}

ul.menu a {
	display:block; 
	color:#000; 
	text-decoration:none;
	width:auto;
	}

/* Specifically target main menu buttons */
ul.menu > li {
	display: table-cell; /* This instead of float:left makes all menu items equal height */
	width: 30%;
	/* Taken from .menulink */
	background-size: contain;
	border:1px solid #999;
	}

ul.menu > li:hover {
	/*background:url(images/header_over2.png);*/  
	background-color:transparent; /*????*/
	}

ul.menu li {
	position:relative; 
	/*float:left;*/
	margin-right:2px;
	width:285px;
	
	}
	
ul.menu ul {
	position:absolute; 
 	left:0; 
	background:#d1d1d1; 
	display:none; 
	opacity:0; 
	list-style:none;
	}
	
ul.menu ul li {
	position:relative;
	border:0px solid #aaa; 
	border-top:none; 
    min-width:283px;
	width:auto;
	margin:0;
	margin-left:-1px;
	}
	
ul.menu ul li a {
	display:block; 
	padding:3px 7px 3px; 
	background-color:gray;
	color: white;
	margin-left:1px;
	}
	
ul.menu ul li a:hover {
	background-color:lightgray ;
	color: black;
	}
	
ul.menu ul ul {
	left:121px; 
	top:-1px
	}
	
ul.menu .menulink {
	padding:5px 7px 7px;
	font-weight:bold; 
	/*border:1px solid #aaa; */

	}
	
ul.menu .menulink:hover, ul.menu .menuhover {
	/*background: #FFD996/*#FF8A8A /*#FFDA47*/
	background: url('../images/headerrealblue.jpg');
	background-size: contain;
	vertical-align:text-bottom;
	width:auto;
	}
	
ul.menu .sub {
	background:#d1d1d1 url(images/arrow.gif) 115px 8px no-repeat;
	}
	
ul.menu .topline {
	border-top:1px solid #aaa
	}
/*------- COPQ -----*/

ul.menu {
	list-style:none; 
	margin:0; 
	padding:0;
	text-align:center center;
	/*min-width:1320px;*/
	}
	
ul.menu * {
	margin:0; 
	padding:0;
	}

ul.menu  a {
	display:block; 
	color:#000; 
	text-decoration:none;
	}

ul.menu  li #Here{
	position:relative; 
	/*float:left;*/
	margin-right:0px;
	background: gray;
	color:white;
	background-size: contain;
	}	
	
#paragraph{
float:left;
width: 480px;
background-color:transparent;
color:black;
height:478px;
text-align:left;
margin-left:35px;
margin-top:6px;
}

#roadmap{
width:1135px;
background:lightgray;
height:412px;
margin-left:0px;
}

/*base triangle*/
.arrow-up {
  width: 0; height: 0;
  border:270px solid transparent;
   border-left:170px solid transparent;
  border-right: 170px solid transparent; 
  border-top-color: transparent;
  border-right-color: transparant;
  border-bottom-color: gray;
  border-left-color: transparent;
margin-left:380px; 
margin-top:-270px;
}
/*white roadline*/
.arrow-up2 {
  width: 0; height: 0;
  border:270px solid transparent;
  border-left:160px solid transparent;
  border-right: 160px solid transparent; 
  border-top-color: transparent;
  border-right-color: transparant;
  border-bottom-color: white;
  border-left-color: transparent;
margin-left:390px; 
margin-top:-537px;
}
/*more gray road*/
.arrow-up3 {
  width: 0; height: 0;
  border:260px solid transparent;
   border-left:150px solid transparent;
  border-right: 150px solid transparent; 
  border-top-color: transparent;
  border-right-color: transparant;
  border-bottom-color: gray;
  border-left-color: transparent;
margin-left:400px; 
margin-top:-530px;
}
/* the sky or upper part */
.square{
background-color: white;
width:1135px;
height:150px;
border-radius: 0%;
margin-top:1px;
}

/*rounded signs*/
.roadsign{
height:70px;
width:120px;
border-radius:10%;
background-color:gray /*#5B6C95*/;
border-style:solid;
border-width:1px;
border-color: white /*FFDFC5*/;
color:white;
}

.roadsign p{
padding:10px;
}
.roadsign:hover{
background-color:#FFD0A8;
color:black;
border-color:black;
}

#rsone{
margin-left:50px;
margin-top:-140px;
}

#rstwo{
margin-left:160px;
margin-top:-150px;
}

#rsthree{
margin-left:270px;
margin-top:-150px;
}
#rsfour{
margin-left:570px;
margin-top:-72px;
}
#rsfive{
margin-left:710px;
margin-top:-30px;
}
#rssix{
margin-left:830px;
margin-top:10px;
}

#rsseven{
margin-left:410px;
margin-top:-120px;
}

#rseight{
margin-left:950px;
margin-top:10px;
}

/*pole size,color,width*/
.pole{
height:50px;
width:10px;
border-radius:10%;
background-color: black /*#552700 brwon*/;
}

#P1{
margin-left: 108px;
margin-top:-3px;
}

#P2{
margin-left: 215px;
margin-top:-128px;
}

#P3{
margin-left: 324px;
margin-top:-128px;
}

#P4{
margin-left: 764px;
margin-top:-57px;
}

#P5{
margin-left: 885px;
margin-top:32px;
}

#P6{
margin-left: 1007px;
margin-top:32px;
}

#P7{
margin-left: 468px;
margin-top:-256px;
}

#P8{
margin-left: 625px;
margin-top:-50px;
}

#year{
color:#ffffff ;
text-transform:uppercase ;
text-decoration:none ;
font-family:"HelveticaNeue-Medium", sans-serif ;
font-size:14px ;
display: inline-block;
transform : scale(2,2.5);
-webkit-transform:scale(2,2.5); /* Safari and Chrome */
-moz-transform:scale(2,2.5); /* Firefox */
-ms-transform:scale(2,2.5); /* IE 9+ */
-o-transform:scale(2,2.5); /* Opera */
margin-left:-38px;
margin-top:150px;
}

	margin:0;
	margin-left:-1px;
	}
	
ul.menu ul li a {
	display:block; 
	padding:3px 7px 3px; 
	background-color:#2A2B68;
	color: white;
	margin-left:1px;
	}
	
ul.menu ul li a:hover {
	background-color: #B7C0D4 /*#FFC4C4 /*#E9E080/*#FFDA47*/;
	color: black;
	}
	
ul.menu ul ul {
	left:121px; 
	top:-1px
	}
	
ul.menu .menulink {
	padding:5px 7px 7px;
	font-weight:bold; 
	/*border:1px solid #aaa; */

	}
	
ul.menu .menulink:hover, ul.menu .menuhover {
	/*background: #FFD996/*#FF8A8A /*#FFDA47*/
	background: url('../images/headerrealblue.jpg');
	background-size: contain;
	vertical-align:text-bottom;
	width:auto;
	}
	
ul.menu .sub {
	background:#d1d1d1 url(images/arrow.gif) 115px 8px no-repeat;
	}
	
ul.menu .topline {
	border-top:1px solid #aaa
	}
/*------- COPQ -----*/

ul.menu {
	list-style:none; 
	margin:0; 
	padding:0;
	text-align:center center;
	/*min-width:1320px;*/
	}
	
ul.menu * {
	margin:0; 
	padding:0;
	}

ul.menu  a {
	display:block; 
	color:#000; 
	text-decoration:none;
	}

ul.menu  li #Here{
	position:relative; 
	/*float:left;*/
	margin-right:0px;
	background: #2A2B68;/* url('../images/headerrealblue.jpg');*/
	color:white;
	background-size: contain;
	}	

/*-----------------*/	
#sidewrapper {
	width: 0%;
	float: left;
	background-color:transparent;	
}	
/*Contacts */
#contactwrapper{
	width: 100%;
	/*background-color:#e8e8e8;*/
	background-color:transparent;
	float:left;
	height:100%;
	margin-top:14px;
}
	
#contactwrapper #box{
	width: 19%;
	border:0px ridge;
	border-radius:15px;
	display:inline-block;
    vertical-align:top;
	margin-left: 1%;
	margin-top: 15px;
	margin-bottom: 70px;
	background-color: transparent;
	}
	
	
#contactwrapperDR{
	width: 100%;
	/*background-color:#e8e8e8;*/
	background-color:transparent;
	float:left;
	height:100%;
	margin-top:14px;
}
	
#contactwrapperDR #boxDR{
	width: 19%;
	border:0px ridge;
	border-radius:15px;
	display:inline-block;
    vertical-align:top;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 30px;
	margin-bottom: 50px;
	background-color: transparent;
	}	
	
#flyout_menu {
	font-weight: 600;
	width:210px;
	margin-top:16px;
	}

#flyout_menu ul, li {
	list-style: none;
	margin: 0;
	padding: 0; 
	width:188px;
	/*box-shadow: 2px 2px 26px 2px gray;*/
	}

	
#flyout_menu ul li:hover { 
	position: relative; 
	z-index: 599; 
	}

#flyout_menu ul ul{
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 598;
	}


#flyout_menu ul li:hover > ul { 
	visibility: visible; 
	}


#flyout_menu ul ul { 
	top: 100%;
	float: left;
	
	}


#flyout_menu span, #flyout_menu a {
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none; 
	}

#flyout_menu li { 
	background: #5B6C95; 
	border-radius: 10px 10px 0px 0px;
	border: 1px;
	border-style:solid;
	border-color: #FFDFC5;
	height:36px;
	font:9px;
	}


#flyout_menu li:hover, #flyout_menu li.active { 
	background: #2A2B68 /*#FF8A8A/*#9A9A9A*/;
	width: 188px;
	}


#flyout_menu a {
	color: #FFF;
	line-height: 120%;
	padding: 8px 8px 8px 15px;
	}

#flyout_menu ul ul li {
	background: #2A2B68;/*#5B6C95;
	/*border-bottom: 1px solid #007171;*/
	width: 188px;
	text-align:left;	
	border-radius: 0px; 
	border: 1px;
	border-style:solid;
	border-color: #FFDFC5;
	margin-left: -1px;
	height:100%;
	}


#flyout_menu ul ul li:hover { 
	background: #B7C0D4; 
	color: black;
    font-style: italic;
	}

#flyout_menu ul ul li a:hover { 
	color: black;
}


#paragraph{
float:left;
width: 480px;
background-color:transparent;
color:black;
height:478px;
text-align:left;
margin-left:35px;
margin-top:6px;
}

.circleLarge{
border-radius: 50%;
width: 175px;
height: 175px; 
margin-left: 710px;
float:left;
color:white;
Background-color:#2A2B68;
}

#circleone{
border-style: single;
border:6px;
border-color:black;
margin-top:-320px;
box-shadow: 6px 6px 6px #888888;
border-style: solid;
border-width: 5px;
border-color:#FFDFC5;
}

.circleSmall{
background-color: white;
border-radius: 50%;
width: 100px;
height: 50px; 
margin-left: 730px;
float:left;
text-align:center;
color:black;
/*box-shadow: 6px 6px 6px #888888;*/
border-style: solid;
border-width: 5px;
border-color:white;
}
.circleSmall:hover{
background-color:white;
}

#MainC1{
margin-top:-400px;
}
#MainC2{
margin-top:-410px;
Margin-left:770px;
}
#MainC3{
margin-top:-390px;
Margin-left:820px;
}

#MainC4{
margin-top:-355px;
Margin-left:270px;
}
#MainC5{
margin-top:-370px;
Margin-left:320px;
width: 70px;
}
#MainC6{
margin-top:-390px;
Margin-left:350px;
width: 120px;
}

#circletwo{
margin-top:-470px;
margin-left:730px;
}


#circlethree{
border-style: single;
border:6px;
border-color:black;
margin-top:-360px;
margin-left:904px;
box-shadow: 6px 6px 6px #888888;
border-style: solid;
border-width: 5px;
border-color:white;
}


#circlefour{
border-style: single;
border:6px;
border-color:black;
margin-top:-170px;
margin-left:870px;
box-shadow: 6px 6px 6px #888888;
border-style: solid;
border-width: 5px;
border-color:white;
}

#circlefive{
border-style: single;
border:6px;
border-color:black;
margin-top:-170px;
margin-left:600px;
box-shadow: 6px 6px 6px #888888;
border-style: solid;
border-width: 5px;
border-color:white;
}

#circlesix{
border-color:black;
margin-top:-360px;
margin-left:570px;
border-style: solid;
border-width: 5px;
border-color:white;
}

.circleLargest{
border-radius: 50%;
width: 360px;
height: 360px; 
margin-left: 616px;
float:left;
color:white;
background-color: transparent;
border-style: solid;
border-width: 10px;
border-color:lightgray;
}
#circleseven{
margin-top:-420px;
box-shadow: 6px 6px 6px #888888;
}

#roadmap{
width:1135px;
background:lightgray;
height:412px;
margin-left:0px;
}
.arrow-up {
  width: 0; height: 0;
  border:270px solid transparent;
   border-left:170px solid transparent;
  border-right: 170px solid transparent; 
  border-top-color: transparent;
  border-right-color: transparant;
  border-bottom-color: gray;
  border-left-color: transparent;
margin-left:380px; 
margin-top:-270px;
}
.arrow-up2 {
  width: 0; height: 0;
  border:270px solid transparent;
  border-left:160px solid transparent;
  border-right: 160px solid transparent; 
  border-top-color: transparent;
  border-right-color: transparant;
  border-bottom-color: white;
  border-left-color: transparent;
margin-left:390px; 
margin-top:-537px;
}
.arrow-up3 {
  width: 0; height: 0;
  border:260px solid transparent;
   border-left:150px solid transparent;
  border-right: 150px solid transparent; 
  border-top-color: transparent;
  border-right-color: transparant;
  border-bottom-color: gray;
  border-left-color: transparent;
margin-left:400px; 
margin-top:-530px;
}

.square{
background-color: #B7C0D4;
width:1135px;
height:150px;
border-radius: 0%;
margin-top:1px;
}

.innerSq{
padding:7px;
width:120px;
height:50px;
border-radius: 10%;
background-color:transparent;
border-style:solid;
border-width:2px;
border-color:yellow;
color:white;
}

#one{
margin-left:6px;
margin-top:-71px;
}

.roadsign{
height:70px;
width:120px;
border-radius:10%;
background-color:#2A2B68 /*#5B6C95*/;
border-style:solid;
border-width:1px;
border-color: white /*FFDFC5*/;
color:white;
}

.roadsign p{
padding:10px;
}
.roadsign:hover{
background-color:#FFD0A8;
color:black;
border-color:black;
}

#rsone{
margin-left:50px;
margin-top:-140px;
}

#rstwo{
margin-left:160px;
margin-top:-150px;
}

#rsthree{
margin-left:270px;
margin-top:-150px;
}
#rsfour{
margin-left:570px;
margin-top:-72px;
}
#rsfive{
margin-left:710px;
margin-top:-30px;
}
#rssix{
margin-left:830px;
margin-top:10px;
}

#rsseven{
margin-left:410px;
margin-top:-120px;
}

#rseight{
margin-left:950px;
margin-top:10px;
}

.grass{
width:900px;
height:330px;
background-color:green;
margin-top:270px;
}

.pole{
height:50px;
width:10px;
border-radius:10%;
background-color: gray /*#552700 brwon*/;
}

#P1{
margin-left: 108px;
margin-top:-3px;
}

#P2{
margin-left: 215px;
margin-top:-128px;
}

#P3{
margin-left: 324px;
margin-top:-128px;
}

#P4{
margin-left: 764px;
margin-top:-57px;
}

#P5{
margin-left: 885px;
margin-top:32px;
}

#P6{
margin-left: 1007px;
margin-top:32px;
}

#P7{
margin-left: 468px;
margin-top:-256px;
}

#P8{
margin-left: 625px;
margin-top:-50px;
}

#year{
color:#ffffff ;
text-transform:uppercase ;
text-decoration:none ;
font-family:"HelveticaNeue-Medium", sans-serif ;
font-size:14px ;
display: inline-block;
transform : scale(2,2.5);
-webkit-transform:scale(2,2.5); /* Safari and Chrome */
-moz-transform:scale(2,2.5); /* Firefox */
-ms-transform:scale(2,2.5); /* IE 9+ */
-o-transform:scale(2,2.5); /* Opera */
margin-left:-38px;
margin-top:150px;
}
